<div class="paginationDesign">
    <ul>
      {{#if canStepBackward}}
          <a href="#" {{action "incrementPage" -1}}>&laquo;Previous</a>
      {{/if}}
      {{#each item in pageItems}}
        {{#if item.current}}
            <a class="active page-number">{{item.page}}</a>
        {{else}}
            <a href="#" {{action "pageClicked" item.page}}>{{item.page}}</a>
        {{/if}}
      {{/each}}
      {{#if canStepForward}}
        {{#if lastPage}}
            ....
            <a href="#" {{action "pageClicked" lastPage}}>{{lastPage}}</a>
        {{/if}}
      {{/if}}
      {{#if canStepForward}}
          <a href="#" {{action "incrementPage" 1}}>Next&raquo;</a>
      {{/if}}
    </ul>
</div>
